/* * {
    margin: 0px;
    padding: 0px;
} */

/* body { */
    /* width: 100%; */
    /* height: 100%; */
    /* background-image: url(./backgroundimags/3386851.jpg); */
    /* background-position: center; */
    /* font-family: 'Roboto', sans-serif; */
    /* position: absolute; */
/* } */
.signin-box{
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: ; */
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    width: 370px;
    height: auto;
    margin: 4% auto;
    background-color: #fff;
    padding-bottom: 14px;
    border-radius: 3px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.show-sign-in{
    opacity: 1;
    z-index: 10;
}

.overlay{
    background-color: #8080809c;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: -2;
}

.show-overlay{
    opacity: 1;
    z-index: 9;
}

.signin-box>span{
    position:absolute;
    right: 0px;
    top: 0px;
    font-size: 25px;
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
 
}

#sign-in-form {
    margin-top: 15px;
    width: 300px;
    margin-left: 30px;
}





#sign_in_submit {
    width: 320px;
    height: 35px;
    border: none;
    background-color: #c1bebe;
    color: #000042;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.signin-box>#form-box>p {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 15px;

}
.signin-box>#form-box>h1{
    text-align: center;
    color: #121270;
}

#sign-in-form>input {
    width: 100%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;

}
.signin-box>p{
    color: #000042;
}
.signin-box p>a {
    color: #6666b9;
    
}
.signin-box>h1 {
    text-align: center;
    padding-top: 15px;
    font-family: lenskartserif-normal;
    font-style: normal; 
     font-weight: 400;
 
  
    color: #1b1b77;
}

#image-box>img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#image-box{
    width: 100%;
}
